html, body{font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
  

}
st.Button >button{background-color:#F9C5D1;
    color: rgb(39, 39, 39) !important ;
    border-radius: 12PX;
    font-weight: bold;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;

}

.stApp{
    font-family: 'Courier New', Courier, monospace;
    background-color:rgb(87, 168, 222);
    
}
    



h1,h2,h3,h4{ color:rgb(39, 39, 39) !important; }



label {
  color: rgb(39, 39, 39) !important;   
  font-weight: 500;  }           






