html, body{font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    text-decoration-color: #333;
    

}
st.Button >button{background-color:#F9C5D1;
    color: black;
    border-radius: 12PX;
    font-weight: bold;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;

}

.stApp{
    font-family: 'Courier New', Courier, monospace;
    background-color:rgb(87, 168, 222);}



h1, h2, h3, h4, h5, h6 {
    color: grey;  
    text-shadow: 1px 1px 2px #000000aa;}
